

.error {
    color: red;
  }

  body{
    width:100%;
    height:100vh;
    text-align: center;
  }
  form{
    margin:auto;
    background-color:rgb(160, 102, 102);
    width:500px;
  padding: 30px 
  }
  