body{
    width: 100%;
    height: 100vh;
}

.box1{
    height:300px;
    width:300px;
    background-color: red;
    margin: auto;
    cursor: pointer;
}
.yellow{
    height: 600px;
    width:600px;
    background-color: yellow;
}